
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
  }

  #collasible-nav-dropdown {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
  }

  .navbar-links, a:hover {
    color: #fff;
    text-decoration: none;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  